/SourceCode/.idea/.idea.WeatherStackNetCore/.idea/dictionaries/serda.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/jsLibraryMappings.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/workspace.xml
