/SourceCode/.idea/.idea.WeatherStackNetCore/.idea/dictionaries/serda.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/jsLibraryMappings.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/workspace.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/workspace.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/workspace.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/.name
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/indexLayout.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/projectSettingsUpdater.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/vcs.xml
