/SourceCode/.idea/.idea.WeatherStackNetCore/.idea/dictionaries/serda.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/jsLibraryMappings.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/workspace.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/workspace.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/workspace.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/.name
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/indexLayout.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/projectSettingsUpdater.xml
SourceCode/.idea/.idea.WeatherStackNetCore/.idea/vcs.xml
SourceCode/WeatherStackNetCore/obj/WeatherStackNetCore.csproj.nuget.dgspec.json
SourceCode/WeatherStackNetCore/obj/rider.project.restore.info
SourceCode/WeatherStackNetCore/obj/project.packagespec.json
SourceCode/WeatherStackNetCore/obj/project.nuget.cache
SourceCode/WeatherStackNetCore/obj/project.assets.json
SourceCode/WeatherStackNetCore/obj/Debug/net6.0/WeatherStackNetCore.csproj.AssemblyReference.cache
SourceCode/WeatherStackNetCore/obj/Debug/net6.0/WeatherStackNetCore.assets.cache
SourceCode/WeatherStackNetCore/obj/Debug/net6.0/apphost.exe
SourceCode/WeatherStackNetCore/obj/Debug/net6.0/WeatherStackNetCore.assets.cache
SourceCode/WeatherStackNetCore/obj/Debug/net6.0/WeatherStackNetCore.csproj.AssemblyReference.cache
SourceCode/WeatherStackNetCore/obj/project.assets.json
SourceCode/WeatherStackNetCore/obj/project.nuget.cache
SourceCode/WeatherStackNetCore/obj/project.packagespec.json
SourceCode/WeatherStackNetCore/obj/rider.project.restore.info
SourceCode/WeatherStackNetCore/obj/WeatherStackNetCore.csproj.nuget.dgspec.json
SourceCode/WeatherStackNetCore/obj/WeatherStackNetCore.csproj.nuget.g.props
*.cache
*.json
*.info
*.props
