@{
    ViewData["Title"] = "Home Page";
    ViewBag.Header = "Home Page";
}

<h1 align="center">@ViewBag.Header</h1>
<br/>
<br/>
<table>
    <tr>
        <td>
            <a asp-controller="CurrentWeather" asp-action="IndexWithJQuery">
                <button class="btn btn-primary" style="width: 200; height: 200">Current Weather (With JQuery, AJAX)</button>
            </a>
        </td>

        <td>
            <a asp-controller="CurrentWeather" asp-action="IndexWithModel" asp-route-model="new CurrentWeatherViewModel()">
                <button class="btn btn-primary" style="width: 200; height: 200">Current Weather (With Model)</button>
            </a>
        </td>

        <td>
            <a asp-controller="AutoComplete" asp-action="IndexWithJQuery">
                <button class="btn btn-primary" style="width: 200; height: 200">Location Finder (With JQuery, AJAX)</button>
            </a>
        </td>

        <td>
            <a asp-controller="AutoComplete" asp-action="IndexWithModel" asp-route-model="new AutoCompleteViewModel()">
                <button class="btn btn-primary" style="width: 200; height: 200">Location Finder (With Model)</button>
            </a>
        </td>
    </tr>
</table>