@model WeatherStackNetCore.Models.AutoCompleteViewModel
@{
    ViewData["Title"] = "Location Search Page";
    ViewBag.Header = "Location Search Page";
    Layout = "_Layout";
}

<!DOCTYPE html>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}

<script>
   function CleanForm()
   {
      document.getElementById('AutoComplete').reset();
      $("#mainTable").css('visibility','hidden');
   }
</script>

<script>
   $(function () {
      $("#btnSearch").click(function () {
          $("#mainTable").css('visibility','hidden');
            $.ajax({
                 type: "POST",
                 url: "/AutoComplete/GetLocations",
                 data: { "query": $("#txtPlaceName").val() },
                 success: function (response) {
                     if (response != null)
                     {
                         if (response.error === null)
                         {
                             if (response.request.results > 0)
                             {
                                 $("#mainTable").css('visibility','visible');
                                 FillTables(response);
                             }
                             if (response.success === "false")
                             {
                                 $("#errorTable").css('visibility','visible');
                                 FillErrorTable(response);
                             }
                         }
                         else
                         {
                             if (response.success === "false")
                             {
                                  $("#errorTable").css('visibility','visible');
                                  FillErrorTable(response);
                             }
                         }
                     }
                 },
                 failure: function (response) {
                    alert(response.responseText);
                 },
                 error: function (response) {
                    alert(response.responseText);
                }
            });
      });
  });
</script>

<script>
    function FillTables(data)
    {
        // request attributes
        $("#tdQuery").text(data.request.query);
        $("#tdResults").text(data.request.results);
        
        // location attributes
        $("#tdName").text(data.location.name);
        $("#tdCountry").text(data.location.country);
        $("#tdRegion").text(data.location.region);
        $("#tdLatitude").text(data.location.lat);
        $("#tdLongitude").text(data.location.lon);
        $("#tdTimeZoneId").text(data.location.timezone_id);
        $("#tdLocalTime").text(data.location.localtime);
        $("#tdLocalTimeEpoch").text(data.location.localtime_epoch);
        $("#tdUTCOffset").text(data.location.utc_offset);    
    }
    
    function FillErrorTable(data)
    {
        // error attributes
        $("#tdCode").text(data.error.code);
        $("#tdType").text(data.error.type);
        $("#tdInfo").text(data.error.info);
    }
</script>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Location Search</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<form asp-action="Index" method="post" class="form-control" style="align-content: center" id="AutoComplete">
    <h5 class="bg-primary text-white text-center m-2 p-2">@ViewBag.Header</h5>
    @* <div asp-validation-summary="All"></div> *@
    <div class="row m-1">
        <div class="col-2">
            <label asp-for="PlaceName" class="form-label">@Model.PlaceName</label>
        </div>
        <div class="col-4">
            <input asp-for="PlaceName" class="form-control" id="txtPlaceName"/>
        </div>
        <div class="col-4">
            <span asp-validation-for="PlaceName" class="text-danger" style="font-weight: bold"></span>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-10"></div>
        <div class="col-1">
            <button type="button" class="btn btn-danger" onclick="CleanForm()">Clean</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
        </div>
    </div>
</form>
<br/>
<br/>
<form>
    <h5 class="bg-primary text-white text-center m-2 p-2">Results</h5>
    <div id="divSonuc">
        <table id="errorTable" style="visibility: hidden">
            <tr>
                <td>
                    <table id="tableError" style="border: 1px solid; caption-side: top; width: 100%">
                        <caption style="font-weight: bold">Error Info</caption>
                        <tr style="border: 1px solid">
                            <td style="border: 1px solid">Code:</td>
                            <td style="border: 1px solid" id="tdCode"></td>
                        </tr>
                        <tr style="border: 1px solid">
                            <td style="border: 1px solid">Type:</td>
                            <td style="border: 1px solid" id="tdType"></td>
                        </tr>
                        <tr style="border: 1px solid">
                            <td style="border: 1px solid">Info:</td>
                            <td style="border: 1px solid" id="tdInfo"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table id="mainTable" style="visibility: hidden">
            <tr>
                <td>
                    <table id="tableRequest" style="border: 1px solid; caption-side: top; width: 30%">
                        <caption style="font-weight: bold">Request Info</caption>
                        <tr style="border: 1px solid">
                            <td style="border: 1px solid">Query:</td>
                            <td style="border: 1px solid" id="tdQuery"></td>
                        </tr>
                        <tr style="border: 1px solid">
                            <td style="border: 1px solid">Results:</td>
                            <td style="border: 1px solid" id="tdResults"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table id="tableLocation" style="border: 1px solid; caption-side: top; width: 30%">
                        <caption style="font-weight: bold">Location Info</caption>
                        <tr style="border: 1px solid">
                            <td style="border: 1px solid">Name:</td>
                            <td style="border: 1px solid" id="tdName"></td>
                        </tr>
                        <tr style="border: 1px solid">
                            <td style="border: 1px solid">Country:</td>
                            <td style="border: 1px solid" id="tdCountry"></td>
                        </tr>
                        <tr style="border: 1px solid">
                            <td style="border: 1px solid">Region:</td>
                            <td style="border: 1px solid" id="tdRegion"></td>
                        </tr>
                        <tr style="border: 1px solid">
                            <td style="border: 1px solid">Latitute:</td>
                            <td style="border: 1px solid" id="tdLatitude"></td>
                        </tr>
                        <tr style="border: 1px solid">
                            <td style="border: 1px solid">Longitude:</td>
                            <td style="border: 1px solid" id="tdLongitude"></td>
                        </tr>
                        <tr style="border: 1px solid">
                            <td style="border: 1px solid">Time Zone ID:</td>
                            <td style="border: 1px solid" id="tdTimeZoneId"></td>
                        </tr>
                        <tr style="border: 1px solid">
                            <td style="border: 1px solid">Local Time:</td>
                            <td style="border: 1px solid" id="tdLocalTime"></td>
                        </tr>
                        <tr style="border: 1px solid">
                            <td style="border: 1px solid">Local Time Epoch:</td>
                            <td style="border: 1px solid" id="tdLocalTimeEpoch"></td>
                        </tr>
                        <tr style="border: 1px solid">
                            <td style="border: 1px solid">UTC Offset:</td>
                            <td style="border: 1px solid" id="tdUTCOffset"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>